<!DOCTYPE html>

<title>New RegisteredUser</title>

{% block body %}
    <h1>Create new RegisteredUser</h1>

    {{ include('registered_user/_form.html.twig') }}

    <a href="{{ path('registered_user_index') }}">back to list</a>
{% endblock %}
